<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.mapper.BookMapper">
	
	<insert id="addBook">
		INSERT INTO airbnb_book (impUid, merchantUid, paidAmount, pgProvider, buyerName, paidAt, checkIn, checkOut, cntOfPerson, noNum ) 
		VALUES (#{impUid}, #{merchantUid}, #{paidAmount}, #{pgProvider}, #{buyerName}, #{paidAt}, #{checkIn}, #{checkOut}, #{cntOfPerson}, #{noNum} ) 
	</insert>
	
	<select id="getBookByNum" resultType="bookVo">
		SELECT * FROM airbnb_book WHERE bookNum = #{num}
	</select>
	
</mapper>